.emailInput {
    border: none;
    outline: none;
}
.emailInput:active {
    border: none;
    outline: none;
}

.passInput {
    border: none;
    outline: none;
}
.passInput.active {
    border: none;
    outline: none;
}



.mainLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    position: fixed;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailWrapper, .passWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mainLogo{
    font-size: 100px;
}

.inputsMainContainer{
    padding: 10px;
}

.loginButton {
    margin: 5px;
}