.emailInput, .emailInput:active, .passInput, .passInput:active {
    border: none;
    outline: none;
    width: 100%;
}



.mainLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    position: fixed;
    overflow: scroll;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailWrapper, .passWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.passContainer {
    padding-bottom: 20px;
}

.mainLogo{
    font-size: 80px;
}

.inputsMainContainer{
    padding: 10px;
}

.loginButton {
    margin: 5px;
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 15px 250px;
    font-size: 20px;
}