.editWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 10px;
    border: 1px solid rgb(31, 30, 30)
}

.saveButton {
    width: 100%;
    color: white;
    background-color: rgb(51, 49, 49);
    border: rgb(51, 49, 49);
    margin-left: 5px;
    cursor: pointer;
}

